.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-header {
    height: 10vh;
    &--resetBtn{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 22px;
      height: 50px;
      width: 130px;
      background: #4b2c20;
      text-decoration: none;
      font-size: x-large;
      font-family: Montserrat, sans-serif;
      color: #ffffb0;
      border: 1px solid;
      border-radius: 99px;
    }
  }

  &-body {
    background-image: url(../../src/dist/images/background-default.jpg);
    border-radius: 22px;
    background-repeat: round;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 990px;
    min-width: 710px;
  }
}

.curtain {
  display: none;
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;

  &.active {
    display: block;
  }
}

.finalCurtain {
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &-title {
    font-size: 34px;
    font-family: Roboto, sans-serif;
    color: yellow;
  }

  &-label {
    font-size: 24px;
    font-family: Roboto, sans-serif;
    color: rgba(255, 255, 0, 0.5);

    a {
      text-decoration: none;
      color: yellow;
    }
  }
}

.desk {
  height: 50%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  position: relative;
  border-radius: 13px;
  cursor: pointer;
  margin-top: 15px;
  width: 150px;
  height: 200px;

  opacity: 1;
  transition: opacity 1s, visibility 0s;
  perspective: 1000px;

  &-img {
    transform: rotateY(180deg);
  }

  &-face {
    background-image: url("../dist/images/card-face.jpg");

    &:hover {
      box-shadow: 0 0 6px 0 rgba(255, 255, 0, 0.8);
    }
  }

  &-img, &-face {
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-repeat: round;

    transition: 1s;
    backface-visibility: hidden;
  }


}

.chosen {
  .card {
    outline: none;

    &-face {
      transform: rotateY(180deg);
    }

    &-img {
      transform: rotateY(360deg);
      box-shadow: 0 0 6px 0 rgba(255, 255, 0, 0.8);
    }
  }
}

.card.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 0s 1s;
}


.successChosen {
  animation: glow .3s infinite alternate;
}

@keyframes glow {
  to {
    box-shadow: 0 0 10px 0 rgba(255, 255, 0, 0.6), 0 0 6px 0 rgba(255, 255, 0, 0.8), 0 0 10px 0 rgba(255, 255, 0, 0.6);
  }
}

// SHADOW FOR SUCCESSFULLY CHOSEN CARDS PAIR
//box-shadow: 0 0 10px 0 rgba(255,255,0,0.6), 0 0 6px 0 rgba(255,255,0,0.8), 0 0 10px 0 rgba(255,255,0,0.6);